* {
	font-family: Helvetica;
}

body {
	padding: 1em;
}

h1, h2 {
	display: inline;
}

a, a:visited {
	text-decoration: none;
	color: darkblue;
}

a:hover {
	text-decoration: underline;
	color: red;
}

#header {
/*	text-align: center;*/
/*	border-bottom: thin solid lightgrey;*/
	padding-bottom: 1em;
}

#content {
	clear: both;
}

#footer {
	clear: both;
/*	text-align: center;*/
/*	border-top: thin solid lightgrey;*/
	padding-top: 1em;
}

dt {
	color: darkgrey;
	text-transform: uppercase;
	font-size: x-small;
	border-top: thin dashed lightgrey;
	margin-top: 1em;
}

dd {
	text-align: right;
}

div.bio {
	float: left;
	padding-right: 3em;
}