* {
	font-family: Helvetica;
	color: #333333;
}

body {
	padding: 1em;
  background-image:url('images/site_bg.gif');
}

.breaker {
	clear: both;
}

a, a:visited {
	text-decoration: none;
	color: #ffedc8;
}

a:hover {
	text-decoration: underline;
	color: red;
}

#header {
	padding-bottom: 1em;
}

#content {
	float: left;
}

#footer {
	float: left;
	padding-left: 1em;
}

dt {
	text-transform: uppercase;
	font-size: x-small;
	border-top: thin dashed lightgrey;
	margin-top: 1em;
	padding-left: 1em;
}

dd {
	text-align: right;
	padding-right: 1em;
}

div.headshot {
	float: left;
	margin-right: 0.5em;
	width: 168px;
	height: 145px;
}

#teds-pic {
  background-image:url('images/ted.jpg');
}

#craigs-pic {
  background-image:url('images/craig.jpg');
}

h2 {
	line-height: 2em;
	padding-left: 2.4em;
	height: 2em;
	font-weight: normal;
}

#rss {
  background-image:url('images/rss.png');
	background-repeat:no-repeat;
}

#itunes {
  background-image:url('images/podcast.png');
	background-repeat:no-repeat;
}

#email {
  background-image:url('images/email.png');
	background-repeat:no-repeat;
}

div.bio a, div.bio a:visited {
	color: darkblue;
}

div.bio {
	float: left;
	width: 247px;
	margin: 0 0.5em 0.5em 0;
	padding: 0em 10px 0em 10px;
}

#teds-box {
  background-image:url('images/ted_paper.png');
	padding-top: 2em;
}

#craigs-box {
  background-image:url('images/craig_paper.png');
	padding-top: 2em;
}

h3.name {
	height:26px;
	width:239px;
	line-height:500px;
	margin:0;
	overflow:hidden;	
	background-repeat:no-repeat;
}

h3.ted {
	background-image:url(images/thomas_teflon_ted_davis.png);
}

h3.craig {
	background-image:url(images/craig_kanook_walker.png);
}